.form span {
  min-height: 16px;
  line-height: 16px;
  font-size: 12px;
  color: #f44336;
  visibility: visible;
  display: block; }

.form i {
  display: inline block; }

.form h4 {
  display: inline-block; }

.form form {
  border-top: 1px solid gray; }

.form .row {
  padding: 20px 50px; }

.form .btn-default {
  border: black solid 1px;
  width: 20%;
  height: 40px; }

.form .btn--right {
  float: right; }

.form .btn--left {
  float: left; }

.form .btn-save {
  width: 20%;
  height: 40px;
  color: black;
  background-color: #fdef2e;
  border: #ffed00 solid 1px; }

.form .btn-save:hover {
  background-color: #c7d600;
  border: #ffed00 solid 1px;
  color: black; }

.form .btn-save:active {
  background-color: #c7d600;
  border: #ffed00 solid 1px;
  color: black; }

.form .btn-save:focus {
  background-color: #c7d600;
  border: #ffed00 solid 1px;
  color: black; }
tbody span{
  margin-right: 20px;
}

.error-field{
  border: 1px solid red !important;
}