.form{
    span {
        min-height: 16px;
        line-height: 16px;
        font-size: 12px;
        color: #f44336;
        visibility: visible;
        display: block;
    }
    i{
        display: inline block;
    }
    h4{
        display: inline-block;
    }
    form{
        border-top: 1px solid gray;
    }
    .row{
        padding: 20px 50px;
    }
    // button{
    //     margin-top: 20px;
    // }
    .btn-default{
        border: black solid 1px;
        width: 20%;
        height: 40px;
    }
    .btn--right{
        float: right;
    }
    .btn--left{
        float: left;
    }
    .btn-save{
        width: 20%;
        height: 40px;
        color: black;
        background-color: #fdef2e;
        border: #ffed00 solid 1px;
    }
    .btn-save:hover{
        background-color: #c7d600;
        border: #ffed00 solid 1px;
        color: black;
    }
    .btn-save:active{
        background-color: #c7d600;
        border: #ffed00 solid 1px;
        color: black;
    }
    .btn-save:focus{
        background-color: #c7d600;
        border: #ffed00 solid 1px;
        color: black;
    }
    
}